.card-body {
    position: relative;
    width: 90%;
    padding: 0 1em;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    align-self: center;
    margin-top: 2em;
    margin-bottom: 1em;
}